@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Lato&family=Roboto&family=Roboto+Flex&family=Open+Sans&family=Outfit&family=Work+Sans&family=DM+Sans&family=Raleway&family=Merriweather&family=Playfair+Display&family=Lora&family=Crimson+Text&display=swap');

.thin-border {
  border-width: 1px;
}

.main-blog-width {
  width: 550px;
}

.main-page-width {
  width: 920px;
}

.ql-container.ql-snow{
  border: none !important;
}

